<meta charset="utf-8">
<title>{{ "Oceans and Continents -  " | append: page.title }}</title>
<link rel="shortcut icon" type="image/png" href="{{'/assets/images/favicon.png' | relative_url }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Get rid of this? -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">