<link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-99817661-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-99817661-2');
</script>

<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1>{{ page.title }}</h1>
            <h2>{{ page.subtitle }}</h2>
        </div>
     </div>
</header>
