<meta charset="utf-8">
<title>{{ "Oceans and Continents -  " | append: page.title }}</title>
<link rel="shortcut icon" type="image/png" href="{{'/assets/images/favicon.png' | relative_url }}">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-99817661-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-99817661-2');
</script>
