@import "bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$font-stack: 'Open Sans Light', sans-serif;

$base-brown: #483400;
$header-brown: #684c00;

h1 {
    color: white;
}

h2 {
    @extend .text-center;
    color: $header-brown;
}

body {
    font: 100% $font-stack;
    line-height: 1.6;
    font-weight: 300;
}

p {
    @extend .text-justify;
    font-size: 1.2rem;
}

a {
    color: darkblue;
}
