---
---
@import "main";

header {
    .jumbotron {
        background-image: url("../images/jumbotron_bg.jpg");
        background-size: cover;
        padding-top: 20px;
        padding-bottom: 20px;

        h2 {
            font-size: 1.33rem;
        }
    }
}