---
---
@import "main";

table {
    @extend .table;
}

.mouseover {
    color: white;
    background: $base-brown;
    padding: 10px;
}

.noUiSlider {
    margin-right: 25px;
    margin-top: 37px;
    width: 60%;
}

.noUi-connect {
    background: $base-brown;
}

.vizSelectMargin {
    margin: 10px;
}

#outer {
    height: 750px;
}

#filters {
    width: 50%;
    overflow: scroll;
    transition: 0.5s;
    float: left;
}

#vizualizers {
    width: 50%;
    overflow: scroll;
    transition: 0.5s;
    float: left;
    background-color: white;
}

#bar {
    font-size: 12px;
}

#splitChart {
    display: flex;
    flex-flow: row wrap;
}