<!doctype html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/css/lightbox.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/images.css' | relative_url }}">
  </head>
  <body>
    {% include navigation.html %}
    {% include header.html %}
    
    <div class="images">
      <div class="container">
        <div class="row">
          {% assign sorted = site.gallery | sort: 'index' %}
          {% for item in sorted %}
          <div class="col">
            <div class="card border-light">
              <a href="{{ item.image_path | relative_url }}" data-lightbox="gallery" data-title="{{ item.title }}">
                <img src="{{ item.image_path | relative_url }}" class="card-img-top" alt="{{ item.title }}">
              </a>
              
              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.description }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% include footer.html %}

    <!-- Lightbox for images -->
    <script type="text/javascript" src="/assets/js/lightbox-plus-jquery.min.js"></script>
  </body>
</html>